@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(44, 106, 177);
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  padding: 1.5rem;
  margin: 0;
}